.LinkDeCardListagemdeMatch {
    width: 100%;
    /* height: 14em; */
    text-decoration: none;
    margin-bottom: 5vh;
}

.estilizacaoDePaginaListagemMatch {
    margin: 0 auto;
    width: 60vw;
    max-width: 70vw;
    height: 60vh;
    margin-top: 10vh;
    overflow-x: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.estilizacaoDePaginaListagemMatch::-webkit-scrollbar {
    width: 0.8vw;
}

.estilizacaoDePaginaListagemMatch::-webkit-scrollbar-track {
    background: #cccccc;
}

.estilizacaoDePaginaListagemMatch::-webkit-scrollbar-thumb {
    background: #1A82D6;
}

.estilizacaoDePaginaListagemMatch::-webkit-scrollbar-thumb:hover {
    background: #1265a8;
}

.cardsDeMatch {
    cursor: pointer;
    color: #444;
    background-color: #eaeaea;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #C1C1C1;
    width: 25em;
    margin-top: 2em;
}

.TituloCardaMatch {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    width: 21vw;
    height: 10vh;
}

.cardiparaEstilizacaoDeListagemDeMatch {
    min-width: 100%;
    padding: 1em;
    font-size: 1.1em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botaoDarMatch {
    width: 100%;
    height: 4vh;
    background-color: #00CA51;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 6px;
}

.botaoDarMatch:hover {
    background-color: #1A82D6;
}

.tituloMatch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 5vh;
}

.tituloMatch hr {
    width: 300px;
    height: 2px;
    background-color: black;
}

.tituloMatch h1 {
    font-size: 30px;
}

.linkMatchsConfirmados {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.linkMatchsConfirmados {
    color: #ca9636;
    font-weight: 600;
    text-decoration: none;
    margin-left: 44.7vw;
}

.linkMatchsConfirmados:hover {
    color: #ac7d28;
}

.sadlyNothingPreMatch {
    opacity: 70%;
    margin-top: 5rem;
    font-size: 27px;
}