.container_editar_empresa_form{
    width: 50vw;
    height: 100%;
    padding : 2em;
    margin: 10vh auto 0;
    background-color: #f5f5f5;
    box-shadow: 0.1px 2px 5px 0px black;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container_editar_empresa_form fieldset{
    border: 0;
}

.container_editar_empresa_form fieldset .campos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario_editar_empresa fieldset legend{
    margin: 2em 0;
    display: flex;
}

.formulario_editar_empresa fieldset legend hr{
    width: 22vw;
    border: 1px solid black;
    opacity: 1;
    margin-left: 1.4em;
}

.formulario_editar_empresa .campos input[type='file']{
    display: none;
}

.formulario_editar_empresa .input-block-file label{
    width: 12vw;
    height: 6vh;
    font-weight: 500;
    background-color: #7A44D6;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario_editar_empresa .campos .formFile{
    width: 38vw;
    margin-bottom: 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formulario_editar_empresa .campos .imgVisualizador{
    padding: 0 1.2rem;
    width: 15vw;
    image-rendering: pixelated;
}

.formulario_editar_empresa input,
.formulario_editar_empresa textarea{
    width: 38vw;
    height: 3.6rem;
    font-size: 16px;
    margin-top: 0.5rem;
    background: #ececec;
    border: 1px solid #C1C1C1;
    outline: 0;
    padding: 0 1.5rem;
    font-family: 'Raleway', sans-serif; 
}

.formulario_editar_empresa input:focus,
.formulario_editar_empresa textarea:focus,
.formulario_editar_empresa select:focus{
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: 2px solid #1A82D6;
}

.container_editar_empresa_form fieldset .input-block + .input-block{
    margin-top: 1.2rem;
}

.container_editar_empresa_form fieldset .input-block + .textarea-block{
    margin-top: 2.4rem;
}

.buttons_empresa {
    margin-top: 6vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons_empresa button {
    width: 30vw;
    height: 5vh;
    background-color: #36df79;
    color: white;
    font-weight: 500;
    font-size: 20px;
    border-radius: 6px;
}